body, input{
	font-size: 16px;
	font-family: Muli;
	padding-left: 5px;
	background-color: #ECFAEB;
}
.banner{
	color: red;
	font-size: 16px;
}
.workArea{
	margin-top: 20px;
	float: left;
	width: 100%;
}
.workArea input{
	width: 500px;
}
.workArea span{
	width: 500px;
	cursor: pointer;
}
.edit-in-place {
	padding:5px;
	width: 100%;
	float: left;
}
.edit-in-place input{
	width: 500px;
	display: none;
	width: 97%;
}
.edit-in-place span{
	display: inline;
	width: 97%;
	height: 20px;
	float: left;
}
.number{
	color: #A9A9A9;
	width: 2% !important;
}
.documentsSelect{
	font-size: 16px;
	padding: 5px;
	color: green;
}
.indent{
	margin-left: 30px;
}
.mover{
	padding: 5px;
	cursor: pointer;
}
.isSelected {
	color: #1DAB0E;
	font-weight: bold;
}