body, input{
	font-size: 16px;
	font-family: Muli;
	padding-left: 5px;
	background-color: #EDFAF1;
}
.banner{
	color: red;
	font-size: 16px;
}
.workArea{
	margin-top: 20px;
	float: left;
	width: 100%;
}
.workArea span{
	cursor: pointer;
}
.edit-in-place {
	padding:5px;
	width: 100%;
	float: left;
}
.edit-in-place input{
	display: none;
	width: 50%;
	background-color: #E8F0FA;
}
.edit-in-place span{
	display: inline;
	width: 50%;
	float: left;
}
.number{
	color: #A9A9A9;
	width: 2% !important;
}
.documentsSelect{
	font-size: 16px;
	padding: 5px;
	color: green;
}
.isSelected {
	color: #C345F5;
	font-weight: bold;
}
.dividingLine{
	width: 100%;
	padding-top: 3px;
	padding-bottom: 3px;
	float:left;
	border-bottom: 1px solid #09CBE0
}